<form action="/records/{{record._id}}?_method=PUT" method="POST" class="container m-5 col">
  <div class="col-7 mx-auto">
    <label for="email" class="col-sm-2 col-form-label">必填欄位*:</label>
    <label for="email" class="col-sm-2 col-form-label">請輸入你的支出</label>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">名稱*:</label>
      <div class="col-sm-5 m-2">
        <input type="text" class="border border-dark form-control-plaintext" id="name" name="name"
          value="{{record.name}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="money" class="col-sm-2 col-form-label">日期*:</label>
      <div class="col-sm-5 m-2">
        <input type="date" class="border border-dark form-control-plaintext" id="date" name="date"
          value="{{record.date}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">類別*:</label>
      <div class="col-sm-5 m-2">
        <select class="form-select form-select-m border border-dark" aria-label=".form-select-sm example" id="category"
          name="category">
          <option>類別</option>
          <option value="家居物業" {{#iconSelected record.categoryId.name "家居物業" }}selected{{/iconSelected}}>家居物業</option>
          <option value="交通出行" {{#iconSelected record.categoryId.name "交通出行" }}selected{{/iconSelected}}>交通出行</option>
          <option value="休閒娛樂" {{#iconSelected record.categoryId.name "休閒娛樂" }}selected{{/iconSelected}}>休閒娛樂</option>
          <option value="餐飲食品" {{#iconSelected record.categoryId.name "餐飲食品" }}selected{{/iconSelected}}>餐飲食品</option>
          <option value="其他" {{#iconSelected record.categoryId.name "其他" }}selected{{/iconSelected}}>其他</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-sm-2 col-form-label">金額*:</label>
      <div class="col-sm-5 m-2">
        <input type="number" class="border border-dark form-control-plaintext" id="amount" name="amount"
          value="{{record.amount}}">
      </div>
    </div>
    <div class="col-5 mt-2">
      <button type="submit" class="btn btn-outline-dark form-control-plaintext">送出</button>
    </div>
  </div>
  </div>
</form>